/bin/
/blanco.plugin.sqleditor_1.0.0-src.zip
/blanco.plugin.sqleditor_1.0.0-eclipse3.1.jar
/blanco.plugin.sqleditor_1.0.0-eclipse.jar
/blanco.plugin.sqleditor_1.0.1-eclipse.jar
/blanco.plugin.sqleditor_1.0.1-src.zip
